{% assign logoStyle = '' %}
{% if settings.defaultLogo != nil %}
    {% capture defaultLogo %}
        <img height="{{ settings.defaultLogo.height }}" width="{{ settings.defaultLogo.width }}"
             src="{{ settings.defaultLogo | img_url: '256x' }}" alt="logo"
             class="logo--default">{% endcapture %}
    {% assign logoStyle = logoStyle | append: ' logo--default-available' %}
{% endif %}


{% if settings.mobileLogo != nil %}
    {% capture mobileLogo %}
        <img height="{{ settings.mobileLogo.height }}" width="{{ settings.mobileLogo.width }}"
             src="{{ settings.mobileLogo | img_url: '256x' }}" alt="logo"
             class="hide-desktop logo--mobile">{% endcapture %}
    {% assign logoStyle = logoStyle | append: ' logo--mobile-available' %}
{% endif %}


{% if settings.transparentLogo != nil %}
    {% capture transparentLogo %}
        <img height="{{ settings.transparentLogo.height }}"
             width="{{ settings.transparentLogo.width }}"
             src="{{ settings.transparentLogo | img_url: '256x' }}" alt="logo"
             class="logo--transparent">{% endcapture %}
    {% assign logoStyle = logoStyle | append: ' logo--transparent-available' %}
{% endif %}

{% if collection.title and collection.id != nil %}
    {% capture logoUrl %}collection_logo_{{ collection.title | downcase }}.png{% endcapture %}
    {% capture collectionLogo %}
        <a href="{{ collection.url }}">
            <img src="{{ logoUrl | asset_url }}" style="max-width:120px; max-height: 50px;"/>
        </a>
        <br />
    {% endcapture %}
    {% assign logoContainerClasses = 'with-collection' %}
{% else %}
    {% assign logoContainerClasses = 'without-collection' %}
{% endif %}

{% if logoStyle != '' %}
    <div class="{{ logoContainerClasses }}">
        {{ collectionLogo }}
        <a href="{{ routes.root_url }}" class="logo-img {{ logoStyle }}">
            {{ defaultLogo }}
            {{ mobileLogo }}
            {{ transparentLogo }}
        </a>
    </div>
{% elsif settings.textLogo != blank %}
    <div class="{{ logoContainerClasses }}">
        {{ collectionLogo }}
        <a href="{{ routes.root_url }}" class="logo-text">
            Amplified Merch
        </a>
    </div>
{% else %}
    <div class="{{ logoContainerClasses }}">
        {{ collectionLogo }}
        <a href="{{ routes.root_url }}" class="logo-text">
            Amplified Merch
        </a>
    </div>
{% endif %}

