<div class="user__button">
    <label for="user__button">{% render 'get-icon', icon: 'user' %}</label>
    <input type="checkbox" class="hide" id="user__button">
    <div class="user__holder">
        {% if customer %}
            <a class="user__link" href="{{ routes.account_url }}">{% render 'get-icon', icon: 'user' %}Account</a>
            <a class="user__link" href="{{ routes.account_logout_url }}">{% render 'get-icon', icon: 'signout' %}Log
                out</a>
        {% else %}
            <a class="user__link" href="{{ routes.account_login_url }}">{% render 'get-icon', icon: 'signin' %}Sign
                In</a>
            <a class="user__link" href="{{ routes.account_register_url }}">{% render 'get-icon', icon: 'signup' %}
                Register</a>
        {% endif %}
        <a class="user__link"
           href="{{ routes.cart_url }}">{% render 'get-icon', icon: 'shopping-bag' %}{{ 'general.buttons.view_cart' | t }}</a>
    </div>
    <label class="overlay" for="user__button"></label>
</div>

<span class="search__icon hide-desktop" onclick="openSearch(false)">{% render 'get-icon', icon: 'search' %}</span>

<div class="minicart__button minicart__button--{{ section.settings.cartIcon }}">
    <input type="checkbox" id="minicart__button">
    <label class="overlay" for="minicart__button"></label>
    <label class="minicart__label" for="minicart__button" data-cart-settings="count" data-cart-container>
        {% render 'get-icon', icon: section.settings.cartIcon %}
        <span class="item__count" id="minicart-item-count" data-count>0</span>
    </label>
    <div class="minicart__holder minicart--{{- settings.cartStyle }}" data-cart-settings="product-list" data-cart-container>
        <div data-product-list class=""></div>
    </div>
</div>
