{% capture brandName %}{% render 'brand-name' %}{% endcapture %}
{% assign brandName = brandName | strip | strip_newlines %}
<!doctype html>
<html lang="en">
    <head>
        {%- capture pageTitle -%}
            {%- if request.path == '/' -%}
                PlayerWear.com - Official Merch for Musicians & Music Lovers
            {%- elsif request.path contains '/product/' -%}
                {%- comment -%} Alternative Route for Product Page {%- endcomment -%}
                {{- product.title -}}
            {%- elsif request.path contains '/pages/' -%}
                {% if brandName.size > 0 %}
                    {%- comment -%} Brand Landing Page {%- endcomment -%}
                    {{ brandName | capitalize }} T-Shirts, Hats, Hoodies | Player Wear Official {{ brandName | capitalize }} Gear
                {% else %}
                    {%- comment -%} Regular Page {%- endcomment -%}
                    {{- page_title}} | Official Merch
                {%- endif -%}
            {%- elsif request.path contains '/collections/all/designs' -%}
                {%- comment -%} Designs - all brands {%- endcomment -%}
                Official Merch Designs
            {%- elsif request.path contains '/collections/all/' -%}
                {%- comment -%} TagInCollection - all brands {%- endcomment -%}
                {%- for tag in current_tags -%}
                    {%- assign words = tag | split: '-' -%}
                    {%- for word in words -%} {{ word | capitalize }}*{%- endfor -%}
                {%- endfor -%}
                | Official Merch
            {%- elsif request.path contains '/collections/all' -%}
                {%- comment -%} Collection - all brands {%- endcomment -%}
                 Official Merch | T-Shirts, Hats, Hoodies & More
            {%- elsif request.path contains '/collections' -%}
                {%- if request.path contains '/designs' -%}
                    {%- comment -%} Designs - brand-specific {%- endcomment -%}
                    {{ brandName | capitalize }} logo T-Shirts, Hats, Hoodies, Backpacks & more | Player Wear Official {{ brandName | capitalize }} Gear
                {%- elsif current_tags -%}
                    {%- comment -%} TagInCollection - brand-specific {%- endcomment -%}
                    {{ brandName | capitalize }}*
                    {%- for tag in current_tags -%}
                        {%- assign words = tag | split: '-' -%}
                        {%- for word in words -%} {{ word | capitalize }}*{%- endfor -%}
                    {%- endfor -%}
                    | Official {{ brandName | capitalize }} T-Shirts, Long Sleeve, Sweatshirts and More | Player Wear
                {%- elsif product.title -%}
                    {%- comment -%} Product {%- endcomment -%}
                    {{- product.title }} | Player Wear Official {{ brandName | capitalize }} Gear
                {%- else -%}
                    {%- comment -%} Brand Collection Index (no tags) {%- endcomment -%}
                    {{ brandName | capitalize }} T-Shirts, Hats, Hoodies, Backpacks & more | Player Wear Official {{ brandName | capitalize }} Gear
                {%- endif -%}
            {%- endif -%}
        {%- endcapture -%}

        <title>
            {% if false %}
                {{- pageTitle | strip_newlines | split: "*" | join: " " | escape -}}
            {% endif %}
        </title>

        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="https://player-wear.com{{ request.path }}" />
        {% if page_description and false %}
            <meta name="description" content="{{- page_description | escape -}}"/>
            <meta name="og:description" content="{{- page_description | escape -}}"/>
        {% elsif false%}
            <meta name="description" content="{{- fullPageTitle | escape -}}"/>
            <meta name="og:description" content="{{- fullPageTitle | escape -}}"/>
        {% endif %}
        {%- if product.title -%}
            <meta property="og:type" content="product">
            <meta property="og:title" content="{{- pageTitle | escape -}}" />
        {%- elsif collection.id -%}
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{- pageTitle | escape -}}" />
        {%- else -%}
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{- fullPageTitle | escape -}}" />
        {%- endif %}

        <link rel="canonical" href="{{ canonical_url }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | asset_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | asset_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | asset_url }}">
        <link rel="manifest" href="{{ "site.webmanifest" | asset_url }}">
        <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | asset_url }}" color="#c3fd34">
        <meta name="msapplication-TileColor" content="#c3fd34">
        <meta name="theme-color" content="#c3fd34">

        <script>
            window.assetUrl = `{{ 'app.js' | asset_url }}/`.replace('app.js','').split('?')[0];
            window.buildVersion = `{{ 'app.js' | asset_url }}/`.replace('app.js','').split('=')[1].replace('/','');
        </script>
        {{ content_for_header}}
    </head>
    <body>
        <div id="content_for_layout" style="display: none;">
            {{ content_for_layout }}
        </div>
        <div id="vue-app"></div>
        <script src="{{ '0.js' | asset_url }}" async></script>
<script src="{{ '1.js' | asset_url }}" async></script>
<script src="{{ '2.js' | asset_url }}" async></script>
<script src="{{ '3.js' | asset_url }}" async></script>
<script src="{{ '4.js' | asset_url }}" async></script>
<script src="{{ '5.js' | asset_url }}" async></script>
<script src="{{ '6.js' | asset_url }}" async></script>
<script src="{{ '7.js' | asset_url }}" async></script>
<script src="{{ '8.js' | asset_url }}" async></script>
<script src="{{ '9.js' | asset_url }}" async></script>
<script src="{{ '10.js' | asset_url }}" async></script>
<script src="{{ '11.js' | asset_url }}" async></script>
<script src="{{ '12.js' | asset_url }}" async></script>
<script src="{{ '13.js' | asset_url }}" async></script>
<script src="{{ '14.js' | asset_url }}" async></script>
<script src="{{ '15.js' | asset_url }}" async></script>
<script src="{{ '16.js' | asset_url }}" async></script>
<script src="{{ '17.js' | asset_url }}" async></script>
<script src="{{ '18.js' | asset_url }}" async></script>
<script src="{{ '19.js' | asset_url }}" async></script>
<script src="{{ '20.js' | asset_url }}" async></script>
<script src="{{ '21.js' | asset_url }}" async></script>
<script src="{{ 'app.js' | asset_url }}" async></script>
<script src="{{ 'npm.axios.js' | asset_url }}" async></script>
<script src="{{ 'npm.babel.js' | asset_url }}" async></script>
<script src="{{ 'npm.core-js.js' | asset_url }}" async></script>
<script src="{{ 'npm.css-loader.js' | asset_url }}" async></script>
<script src="{{ 'npm.deepmerge.js' | asset_url }}" async></script>
<script src="{{ 'npm.node-libs-browser.js' | asset_url }}" async></script>
<script src="{{ 'npm.path-browserify.js' | asset_url }}" async></script>
<script src="{{ 'npm.regenerator-runtime.js' | asset_url }}" async></script>
<script src="{{ 'npm.renatodeleao.js' | asset_url }}" async></script>
<script src="{{ 'npm.vue.js' | asset_url }}" async></script>
<script src="{{ 'npm.vue-carousel.js' | asset_url }}" async></script>
<script src="{{ 'npm.vue-debounce.js' | asset_url }}" async></script>
<script src="{{ 'npm.vue-loader.js' | asset_url }}" async></script>
<script src="{{ 'npm.vue-router.js' | asset_url }}" async></script>
<script src="{{ 'npm.vue-style-loader.js' | asset_url }}" async></script>
<script src="{{ 'npm.vuex.js' | asset_url }}" async></script>
<script src="{{ 'npm.vuex-persist.js' | asset_url }}" async></script>
<script src="{{ 'npm.webpack.js' | asset_url }}" async></script>
<script src="{{ 'runtime.e7cb07d9.js' | asset_url }}" async></script>
    </body>
</html>
