{% capture brandName %}{% render 'brand-name' %}{% endcapture %}
{% assign brandName = brandName | strip | strip_newlines %}

<!doctype html>
<html lang="en">
    <head>
        {%- capture pageTitle -%}

            {%- if request.path == '/' -%}
                PlayerWear.com - Official Merch for Musicians & Music Lovers
            {%- elsif request.path contains '/product/' -%}
                {%- comment -%} Alternative Route for Product Page {%- endcomment -%}
                {{- product.title -}}
            {%- elsif request.path contains '/pages/' -%}
                {% if brandName.size > 0 %}
                    {%- comment -%} Brand Landing Page {%- endcomment -%}
                    Official {{ brandName | capitalize }} Merch | T-Shirts, Hats, Hoodies & More
                {% else %}
                    {%- comment -%} Regular Page {%- endcomment -%}
                    {{- page_title}} | Official Merch
                {%- endif -%}
            {%- elsif request.path contains '/collections/all/designs' -%}
                {%- comment -%} Designs - all brands {%- endcomment -%}
                Official Merch Designs
            {%- elsif request.path contains '/collections/all/' -%}
                {%- comment -%} TagInCollection - all brands {%- endcomment -%}
                {%- for tag in current_tags -%}
                    {%- assign words = tag | split: '-' -%}
                    {%- for word in words -%} {{ word | capitalize }}*{%- endfor -%}
                {%- endfor -%}
                | Official Merch
            {%- elsif request.path contains '/collections/all' -%}
                {%- comment -%} Collection - all brands {%- endcomment -%}
                 Official Merch | T-Shirts, Hats, Hoodies & More
            {%- elsif request.path contains '/collections' -%}
                {%- if request.path contains '/designs' -%}
                    {%- comment -%} Designs - brand-specific {%- endcomment -%}
                    Official {{ brandName | capitalize }} Merch Designs
                {%- elsif current_tags -%}
                    {%- comment -%} TagInCollection - brand-specific {%- endcomment -%}
                    Official {{ brandName | capitalize -}}*
                    {%- for tag in current_tags -%}
                        {%- assign words = tag | split: '-' -%}
                        {%- for word in words -%} {{ word | capitalize }}*{%- endfor -%}
                    {%- endfor -%}
                {%- elsif product.title -%}
                    {%- comment -%} Product {%- endcomment -%}
                    {{- product.title -}}
                {%- else -%}
                    {%- comment -%} Product {%- endcomment -%}
                    Official {{ brandName | capitalize }} Merch | T-Shirts, Hats, Hoodies & More
                {%- endif -%}
            {%- endif -%}
        {%- endcapture -%}

        {% assign pageTitle = pageTitle | split: "*" | join: " " %}

        {%- capture fullPageTitle -%}
            {{- pageTitle | strip_newlines -}}*
            {%- unless page_title contains 'PlayerWear.com' %}for Musicians & Music Lovers by PlayerWear.com{%- endunless -%}
        {%- endcapture -%}
        {% assign fullPageTitle = fullPageTitle | split: "*" | join: " " %}

        <title>
            {{- fullPageTitle | escape -}}
        </title>

        <meta charset="utf-8">
        <meta name="robots" content="index, follow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="https://player-wear.com{{ request.path }}" />
        {% if page_description %}
            <meta name="description" content="{{- page_description | escape -}}"/>
            <meta name="og:description" content="{{- page_description | escape -}}"/>
        {% else %}
            <meta name="description" content="{{- fullPageTitle | escape -}}"/>
            <meta name="og:description" content="{{- fullPageTitle | escape -}}"/>
        {% endif %}
        {%- if product.title -%}
            <meta property="og:type" content="product">
            <meta property="og:title" content="{{- pageTitle | escape -}}" />
        {%- elsif collection.id -%}
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{- pageTitle | escape -}}" />
        {%- else -%}
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{- fullPageTitle | escape -}}" />
        {%- endif %}


        <link rel="canonical" href="{{ canonical_url }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        {% if settings.favicon != blank %}
            <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180', crop: 'center' }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32', crop: 'center' }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '16x16', crop: 'center' }}">
            <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
            <meta name="msapplication-TileColor" content="#000000">
            <meta name="theme-color" content="#000000">
        {% endif %}

        {{ 'global.css' | asset_url | stylesheet_tag }}

        <script>
            window.assetUrl = `{{ 'theme.js' | asset_url }}/`.replace('theme.js','').split('?')[0];
        </script>
        {{ content_for_header}}
    </head>
    <body>
        <div id="vue-app"></div>
        {{ 'app.js' | asset_url | script_tag }}
        {{ 'chunk-vendors.js' | asset_url | script_tag }}

        <div id="user_button" class="user__button" style="display: none">
            <label for="user__button">
                {% render 'get-icon', icon: 'user' %}
                <span style="display: none;">Access My Account</span>
            </label>
            <input type="checkbox" class="hide" id="user__button">
            <div class="user__holder">
                {% if customer %}
                    <a class="user__link" href="{{ routes.account_url }}">{% render 'get-icon', icon: 'user' %}Account</a>
                    <a class="user__link" href="{{ routes.account_logout_url }}">{% render 'get-icon', icon: 'signout' %}Log out</a>
                {% else %}
                    <a class="user__link" href="{{ routes.account_login_url }}">{% render 'get-icon', icon: 'signin' %}Sign In</a>
                    <a class="user__link" href="{{ routes.account_register_url }}">{% render 'get-icon', icon: 'signup' %} Register</a>
                {% endif %}
            </div>
        </div>
        <div id="content_for_layout" style="display: none;">
            {{ content_for_layout }}
        </div>
    </body>
</html>
